.header{
    // background-color: blue;
    // color: white;
    width: 100%;
    margin-bottom: -20px;
}
.box{
    border: 1px solid grey;
    height: 98%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}
.name{
    width: 100%;
}
button{
    width: 150px;
    height: 30px;
    background-color: blue;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    border: none;
}