#map { 
    border: 1px solid rgb(196, 192, 192);
    height: 830px;
    width: 83%;
    margin-left: 20px;
 }
 p{
     margin-left: 30px;
     font-size: 20px;
     margin-top: 10px;
 }
 .header{
     width: 80%;
     margin-top: 10px;
     margin-bottom: 10px;
    
 }
 .buttons{
     margin-right: 50px;
    //  border: 2px solid red;
     width: 200px;
 }
 button{
    font-size: 20px;
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(25, 63, 187);
    cursor: pointer;
 }