.bodyDiv{
    //  border: 2px solid purple;
     margin-top: 20px;
    // height: 100%;
}
.toggle{
    // border: 2px solid green;
    margin-top: 20px;
    margin-right: 25%;
    margin-bottom: 15px;
}
.togbutton{
    margin-left: 10px;
    margin-right: 10px;
}
span{
    font-size: 18px;
}