// div {
//     width: 100vw;
//     height: 100vh;
//   }


// #map { 
//     border: 1px solid rgb(196, 192, 192);
//     height: 852px;
//     width: 100%;
//  }

 #map { 
    border: 1px solid rgb(196, 192, 192);
    height: 880px;
    width: 83%;
    margin-left: 30px;
    margin-top: 20px;
 }